@model ConfigurationViewModel

<form method="post">
    <div class="form-group">
        <input type="text" class="form-control bg-transparent" placeholder=" Alıcı Mail Adresi" asp-for="Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control bg-transparent" placeholder=" Alıcı Adı" asp-for="Type">
    </div>
    <div class="form-group">
        <input type="text" class="form-control bg-transparent" placeholder=" Başlık" asp-for="Value">
    </div>
    <div class="form-group">
        <input type="text" class="form-control bg-transparent" placeholder=" Başlık" asp-for="IsActive">
    </div>
    <div class="form-group">
        <input type="text" class="form-control bg-transparent" placeholder=" Başlık" asp-for="ApplicationName">
    </div>

    <div class="text-left m-t-15">
        <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane m-r-5"></i> Gönder</button>
        <button class="btn btn-danger" type="button"><i class="ti-close m-r-5 f-s-12"></i> Vazgeç</button>
    </div>
</form>