@model Configuration

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Create</h1>

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Type" class="form-label">Type</label>
                    <input type="text" asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Value" class="form-label">Value</label>
                    <input type="text" asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" asp-for="IsActive" class="form-check-input" />
                    <label asp-for="IsActive" class="form-check-label">Is Active</label>
                </div>
                <div class="mb-3">
                    <label asp-for="ApplicationName" class="form-label">Application Name</label>
                    <input type="text" asp-for="ApplicationName" class="form-control" />
                    <span asp-validation-for="ApplicationName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>